<%= turbo_stream_from @post %>

<p style="color: green"><%= notice %></p>

<h1 class="text-left text-4xl font-bold mb-4"><%= @post.title %></h1>

<p class="text-left text-sm mb-4"><%= @post.updated_at %></p>
<p class="text-left text-sm mb-4"><%= @post.comments.count %> comments</p>
<hr>
<p class="text-left text-sm mb-4"><%= @post.body %></p>
<hr>
<div>

<%= link_to "Edit this post", edit_post_path(@post) %>
<%= button_to "Destroy this post", @post, method: :delete %>
</div>

<%= link_to "Back to posts", posts_path %>
<%= render "comments/comments", post: @post %>
