<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased flex flex-col min-h-screen">
    <!-- HEADER CONTENT -->
    <header class="border-gray-200 border">
      <navbar class="bg-white text-black h-14 px-4 pt-4 text-center sm:flex sm:justify-between sm:w-8/12 sm:mx-auto">
        <section class="ml-6 text-xl">
          Alan Maciel
        </section>
        <nav class="flex text-sm gap-6 mr-4 pt-1">
            <a href="#">about</a>
            <a href="#">blog</a>
            <a href="#">projects</a>
            <a href="#">repositories</a>
            <a href="#">cv</a>
            <a href="#">teaching</a>
            <a href="#">people</a>
        </nav>
      </navbar>
    </header>
    <!-- HEADER CONTENT END -->
    <main>
        <%= yield %>
    </main>
    <!-- FOOTER CONTENT -->
    <footer class="bg-neutral-900 text-white text-center mt-auto h-9 pt-1">
      <section class="sm:w-96 sm:mx-auto">
        <span class="text-xs">&copy; Copyright 2024 Alan Maciel.</span>
      </section>
    </footer>
    <!-- FOOTER CONTENT END -->
  </body>
</html>
